*{
    margin:0px;
    padding:0px;
}
.parallax1{
    width:100%;
    height: 600px;
    background-image: url(parallax1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.parallax1 h2{
    position: relative;
    left:650px;
    top:300px;
    width: 200px;
    height: 31px;
    padding:10px;
    background-color:  rgba(128, 128, 128, 0.844);
    color: white;
    text-align: center;

}

.parallax2{
    width:100%;
    height: 600px;
    background-image: url(parallax2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}


.parallax2 h2{
    position: relative;
    left:650px;
    top:300px;
    width: 200px;
    height: 31px;
    padding:10px;
    background-color:  rgba(128, 128, 128, 0.844);
    color: white;
    text-align: center;

}

.para{
    
    padding: 50px;
    text-align: center;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.844);
    color: white;
    font-size: 20px;
}

.parallax3{
    width:100%;
    height: 600px;
    background-image: url(parallax3.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.parallax3 h2{
    position: relative;
    left:650px;
    top:300px;
    width: 200px;
    height: 31px;
    padding:10px;
    background-color:  rgba(128, 128, 128, 0.844);
    color: white;
    text-align: center;

}